#bar-container {
  width: 400px;
  height: 25px;
  background-color: hsla(0, 0%, 12%, 1);
  border-radius: 12px;
}

#bar {
  width: 0;
  height: 100%;
  background-color: hsla(334, 100%, 59%, 1);
  transition: width 0.2s;
  border-radius: 12px;
}