.maindescription1 {
    margin-bottom: -26px;
    font-size: 0.9rem;
}
.maindescription2 {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
.avdanosmaintext {
    margin-bottom: -16px;
    font-size: 0.9rem;
}
.toolSelectorButton {
    width: 100%;
    height: 15%;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;
    cursor: pointer;
    transition: background-color 0.15s ease-out;
}
.toolSelectorButton:hover {
    background-color: rgba(255, 46, 137, 0.25);

    transition: background-color 0.15s ease-in;
}
.toolSelectorButton:focus {
    background-color: rgba(255, 46, 137, 0.5);

    transition: background-color 0.15s ease-in;
}
.toolSelectorButton h1 {
    margin-bottom: 0;
}
.pg3btn {
    color: whitesmoke;
    font-size: xx-small !important;
    object-fit: cover;
    overflow: hidden;
}
.pg3btn p {
    font-weight: normal;
}
